<!DOCTYPE html>
<html lang="fr"class="nojs">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ TITLE }}</title>
        <meta name="description" content="{{ DESCRIPTION }}">
        <link rel="icon" href="{{ ASSET favicon.png }}">

        <meta name="theme-color" content="#3c7778">
        <link rel="stylesheet" href="{{ ASSET static/site.min.css }}">

        <script type="text/javascript" src="{{ ASSET static/site.min.js }}" async></script>
    </head>

    <body>
        <div id="deploy" onclick="main.deploy(); return false;"></div>

        <nav id="top">
            <menu>
                <a id="logo" href="/"><img src="{{ ASSET static/logo.webp }}" alt="Logo DEMHETER" /></a>

{{ LINKS }}
            </menu>
        </nav>

        {{ TOC }}

        <main>
            {{ CONTENT }}
        </main>

        <footer>
            <div>DEMHETER © 2024</div>
            <img src="{{ ASSET favicon.png }}" alt="" width="48" height="48">
            <div style="font-size: 0.8em;">
                CHU de Lille, 59037 Lille CEDEX<br>
                <a href="mailto:demheter@chu-lille.fr" style="font-weight: bold; color: inherit;">demheter@chu-lille.fr</a>
            </div>
        </footer>
    </body>
</html>
