<!DOCTYPE html>
<html lang="fr" class="nojs">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ TITLE }}</title>
        <meta name="author" content="Niels Martignène">
        <meta name="description" content="{{ DESCRIPTION }}">
        <link rel="icon" href="{{ ASSET favicon.png }}">

        <meta name="theme-color" content="#24579d">
        <link rel="stylesheet" href="{{ ASSET static/site.min.css }}">

        <script type="text/javascript" src="{{ ASSET static/site.min.js }}" async></script>
        <script type="text/javascript" src="{{ ASSET static/highlight.min.js }}" async></script>
    </head>

    <body>
        <div id="deploy" onclick="main.deploy(); return false;"></div>

        <nav id="top">
            <menu>
                <a id="logo" href="/"><img src="{{ ASSET static/logo.webp }}" alt="Logo Goupile" /></a>

{{ LINKS }}

                <div style="flex: 1;"></div>
                <li><a href="https://nlnet.nl/project/Goupile/" style="border-bottom-color: transparent; margin-top: 8px;"><img src="{{ ASSET static/nlnet/ngi0core.svg }}" width="95" height="30" alt="NGI Zero Core"/></a></li>
                <li><a href="https://github.com/Koromix/goupile" style="border-bottom-color: transparent; margin-top: 8px;"><img src="https://img.shields.io/badge/GitHub-Goupile-ff6600" alt="GitHub"/></a></li>
            </menu>
        </nav>

        {{ TOC }}

        <main>
            {{ CONTENT }}
        </main>

        <footer>Goupile © 2024</div>
            <img src="{{ ASSET favicon.png }}" alt="" width="48" height="48">
            <div style="font-size: 0.8em;">
                Niels Martignène (<a href="https://github.com/Koromix/" target="_blank">Koromix</a>)<br>
                <a href="mailto:niels.martignene@protonmail.com" style="font-weight: bold; color: inherit;">niels.martignene@protonmail.com</a>
            </div>
        </footer>
    </body>
</html>
