<!DOCTYPE html>
<html lang="fr" class="nojs">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ TITLE }} | Goupile</title>
        <meta name="author" content="Niels Martignène">
        <meta name="description" content="{{ DESCRIPTION }}">
        <link rel="icon" href="{{ ASSET favicon.png }}">

        <meta name="theme-color" content="#24579d">
        <link rel="stylesheet" href="{{ ASSET static/site.min.css }}">

        <script type="text/javascript" src="{{ ASSET static/site.min.js }}" async></script>

        <style>
            #screenshots {
                display: flex;
                height: 256px;
                margin: 1em 0 1em 0;
                position: relative;
                background: var(--secondary_color);
                color: white;
                justify-content: center;
                align-items: center;
            }
            #screenshots > img {
                position: absolute;
                width: 32px;
                height: 32px;
                top: calc(50% - 16px);
                cursor: pointer;
                z-index: 2;
            }
            #screenshots > img:first-of-type { left: 16px; }
            #screenshots > img:last-of-type { right: 16px; }
            #screenshots > div.images > a { display: none; }
            #screenshots > div.images > a.active { display: block; }
            #screenshots > div.images img {
                width: 320px;
                max-height: 216px;
                object-fit: contain;
            }
            #screenshots > ul.points {
                width: 700px;
                padding-left: 50px;
            }
            #screenshots > ul.points > li.active { font-weight: bold; }

            @media screen and (max-width: 960px) {
                #screenshots {
                    flex-direction: column;
                    gap: 1em;
                }
                #screenshots > img { top: calc(38% - 16px); }
                #screenshots > img:first-of-type { left: 4px; }
                #screenshots > img:last-of-type { right: 4px; }
                #screenshots > div.images img { max-height: 160px; }
                #screenshots > ul.points {
                    width: auto;
                    margin: 0;
                    padding: 0 1em;
                    list-style-type: none;
                }
                #screenshots > ul.points > li.active {
                    font-size: 0.8em;
                    font-weight: normal;
                    text-align: center;
                }
                #screenshots > ul.points > li:not(.active) { display: none; }
            }

            @media print {
                #screenshots { display: none; }
            }
        </style>
    </head>

    <body>
        <div id="deploy" onclick="main.deploy(); return false;"></div>

        <nav id="top">
            <menu>
                <a id="logo" href="/"><img src="{{ ASSET static/logo.webp }}" alt="Logo Goupile" /></a>

{{ LINKS }}

                <div style="flex: 1;"></div>
                <li><a href="https://nlnet.nl/project/Goupile/" style="border-bottom-color: transparent; margin-top: 8px;"><img src="{{ ASSET static/nlnet/ngi0core.svg }}" width="95" height="30" alt="NGI Zero Core"/></a></li>
                <li><a href="https://github.com/Koromix/goupile" style="border-bottom-color: transparent; margin-top: 8px;"><img src="https://img.shields.io/badge/GitHub-Goupile-ff6600" alt="GitHub"/></a></li>
            </menu>
        </nav>

        <div id="screenshots">
            <img src="{{ ASSET static/misc/left.png }}" alt="" onclick="toggleScreenshot(-1, true)" />
            <img src="{{ ASSET static/misc/right.png }}" alt="" onclick="toggleScreenshot(1, true)" />

            <div class="images">
                <a href="{{ ASSET static/screenshots/editor.webp }}" target="_blank" class="active"><img src="{{ ASSET static/screenshots/editor.webp }}" alt="" /></a>
                <a href="{{ ASSET static/screenshots/data.webp }}" target="_blank"><img src="{{ ASSET static/screenshots/data.webp }}" alt="" /></a>
                <a href="{{ ASSET static/screenshots/overview.webp }}" target="_blank"><img src="{{ ASSET static/screenshots/overview.webp }}" alt="" /></a>
                <a href="{{ ASSET static/screenshots/tablet.webp }}" target="_blank"><img src="{{ ASSET static/screenshots/tablet.webp }}" alt="" /></a>
                <a href="{{ ASSET static/screenshots/admin.webp }}" target="_blank"><img src="{{ ASSET static/screenshots/admin.webp }}" alt="" /></a>
            </div>

            <ul class="points">
                <li class="active">Créez et testez vos formulaires à la volée avec toutes sortes de widgets</li>
                <li>Entrez vos données et exportez les simplement, depuis le même écran</li>
                <li>Partagez vos formulaires avec vos collaborateurs pour saisir les données</li>
                <li>Faites passer vos évaluations sur tablette ou mobile, en ligne ou hors ligne</li>
                <li>Gérez vos projets et vos utilisateurs à l'aide du module d'administration</li>
            </ul>
        </div>

        <main>
            {{ CONTENT }}
        </main>

        <footer>Goupile © 2024</div>
            <img src="{{ ASSET favicon.png }}" alt="" width="48" height="48">
            <div style="font-size: 0.8em;">
                Niels Martignène (<a href="https://github.com/Koromix/" target="_blank">Koromix</a>)<br>
                <a href="mailto:niels.martignene@protonmail.com" style="font-weight: bold; color: inherit;">niels.martignene@protonmail.com</a>
            </div>
        </footer>

        <script>
            let screenshots_timer = null;

            resetTimer(false);

            function toggleScreenshot(delta, explicit) {
                let screenshots = document.querySelector('#screenshots');

                if (screenshots == null)
                    return;

                if (explicit || !screenshots.classList.contains('expand')) {
                    let anchors = Array.from(document.querySelectorAll('#screenshots > div.images > a'));
                    let lis = Array.from(document.querySelectorAll('#screenshots > ul.points > li'));
                    let idx = anchors.findIndex(a => a.classList.contains('active'));

                    if (delta < 0) {
                        if (--idx < 0)
                            idx = anchors.length - 1;
                    } else if (delta > 0) {
                        if (++idx >= anchors.length)
                            idx = 0;
                    }

                    for (let i = 0; i < anchors.length; i++) {
                        let a = anchors[i];
                        a.classList.toggle('active', i == idx);
                    }
                    for (let i = 0; i < lis.length; i++) {
                        let li = lis[i];
                        li.classList.toggle('active', i == idx);
                    }
                }

                resetTimer(explicit);
            }

            function resetTimer(explicit) {
                if (screenshots_timer != null)
                    clearTimeout(screenshots_timer);
                screenshots_timer = setTimeout(() => toggleScreenshot(1, false), explicit ? 14000 : 6000);
            }
        </script>
    </body>
</html>
